<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions and Answers</title>
</head>
<body>
    <h1>Guia de perguntas</h1>
    <hr>
    <h3>Lista de perguntas</h3>

    <p>Nome: <%= nome %></p>
    <p>Linguagem: <%= lang %></p>

    <% if(msg) { %>
        <h3>Sucesso!</h3>
    <% } else { %>
        <h3>Params incompletos.</h3>
    <% } %>

    <h3>Produtos</h3>
    <% produtos.forEach(function(produto){ %>
        <hr>
        <%= produto.nome %><br/>
        R$ <%= produto.preco %>
    <%  }) %>


</body>
</html>